body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #545454;
}
.evo_c-divtable-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    z-index: -1;
}

.evo_c-divtable-container > div:not(:first-child) .evo_c-divtable-row img {
    display: none;
}

.evo_c-divtable-container > div:not(:first-child) .evo_c-divtable-row span {
    display: none;
}


.evo_c-divtable-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 14%;
}

.evo_c-divtable-column_header {
    border: solid 1px #e0e0e0;
    padding: 10px;
    text-align: left;
    background-color: #f7f7f7;
    height: 20px;
    transition: height 0.5s ease;
}

.evo_c-divtable-column_header p {
    margin: 0px;
}

.evo_c-divtable-row {
    border: solid 1px #e0e0e0;
    padding: 10px;
    text-align: center;
    display: flex;
}

#column1 {
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#column1 div span {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}

#column1 .evo_c-divtable-row_evo_c-divtable-header {
    border: solid 1px #e0e0e0;
    padding: 4px;
    text-align: left;
}

.evo_c-divtable-avatar {
    width: 25px;
    margin-left: 15px;
    border-radius: 50%;
}





/* Name Modal */
.evo_c-divtable-modal_user_profile {
    display: none;
    position: absolute;
}

.evo_c-divtable-user_profile {
    opacity: 0;
    position: absolute;
    height: 0px;
    width: 400px;
    color: azure;
    transition: all 0.3s ease;
}

.evo_c-divtable-user_profile_details {
    margin-left: 45px;
    z-index: 2000;
}

.evo_c-divtable-user_profile_details p {
    display: none;
    width: 40%;
    height: 20px;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.evo_c-divtable-user_profile img {
    display: none;
    transition: all 0.3s ease;
    z-index: 100;
}

.evo_c-divtable-user_profile span {
    display: none;
    transition: all 0.3s ease;
}

.evo_c-divtable-modal_user_profile:checked + label > div .evo_c-divtable-user_profile {
    opacity: 0.9;
    position: absolute;
    border: solid 1px #e0e0e0;
    background: white;
    color: #545454;
    width: 400px;
    height: 130px;
    padding-top: 6px;
    padding-left: 3px;
    margin-top: -35px;
    margin-left: -4px;
    z-index: 2000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.evo_c-divtable-modal_user_profile:checked + label > div .evo_c-divtable-user_profile_details p {
    display: inline-block;
    transition: all 0.3s ease;
}

.evo_c-divtable-modal_user_profile:checked + label > div .evo_c-divtable-user_profile span {
    display: inline-block;
    transition: all 0.3s ease;
}

.evo_c-divtable-modal_user_profile:checked + label > div .evo_c-divtable-user_profile img {
    display: inline-block;
    transition: all 0.3s ease;
}



/* SVG */



.evo_c-divtable-icon {
    position: relative;
    width: 14px;
    height: 14px;
    padding: 8px;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0.2;
    float: right;
    top: -22px;
}

.icon-cross {
    position: relative;
    width: 8px;
    height: 8px;
    stroke-width: 0.2;
    stroke: currentColor;
    fill: currentColor;
    right: 4px;
    top: -3px;

}

.icon:hover{
    cursor: pointer;
}

/* onClick Cursor */

#column1 .evo_c-divtable-row_evo_c-divtable-header  {
    cursor: -webkit-grab;
}

#column1 .evo_c-divtable-row_evo_c-divtable-header div img:hover,
#column1 .evo_c-divtable-row_evo_c-divtable-header div span:hover{
    cursor: pointer;
}

#column1 .evo_c-divtable-row_evo_c-divtable-header div:active {
    cursor:move;
}

#column2:hover,
#column3:hover,
#column4:hover,
#column5:hover,
#column6:hover,
#column7:hover {
    cursor: -webkit-grab;
}

#column2:active,
#column3:active,
#column4:active,
#column5:active,
#column6:active,
#column7:active {
    cursor: move;
}

/* Search Box */
#evo_c-divtable-search_input {
    margin-left: 30px;
    font-weight: 200;
    font-size:14px;
    color: #545454;;
    height: 30px;
    width: 14%;
    border-color:#e0e0e0;
    border-width: 0px 0px 1px 0px;
    transition: width 1s ease, color 1s ease;
}

#evo_c-divtable-search_input:focus {
    border-color: #51d0ef;
    outline: none;
    transition: border-color 1s ease;
}

/* Responsive table */

@media (max-width: 1200px) {
    .evo_c-divtable-column_header{
        font-size: 13px;
        height: 60px;
        transition: height 0.5s ease;
        white-space: normal;
    }
    .evo_c-divtable-icon {
        top:0px;
        float: left;
        padding-left: 0px;
    }
    #column1 .evo_c-divtable-row_evo_c-divtable-header div span{
        font-size: 12px;
        width:5%
    }
}


@media (max-width: 720px) {
    #evo_c-divtable-search_input {
        width: 80%;
        transition: width 1s ease, color 1s ease;
    }

    .evo_c-divtable-container {
        flex-flow: column wrap;
        width: 95%;
    }
    .evo_c-divtable-column_header {
        height: 20px;
        transition: height 0.5s ease;
    }
    #column2,
    #column3,
    #column4,
    #column5,
    #column6,
    #column7{
        width: auto;
    }
    .evo_c-divtable-icon {
        float: right;
        top:-20px;
    }

    .evo_c-divtable-row {
        display: inline-block;
    }
    #column1 {
        display: none;
    }

    .evo_c-divtable-container > div:not(:first-child) .evo_c-divtable-row img {
        display: inline-block;
        margin-bottom: -5px;
    }
    .evo_c-divtable-container > div:not(:first-child) .evo_c-divtable-row span {
        display: inline-block;
        padding-right: 30px;
        padding-left: 5px;
    }
}
