body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #545454;
}
.container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    z-index: -1;
}

#column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.avatar {
    width: 25px;
    margin-left: 15px;
    border-radius: 50%;
}

#column1 div span {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}

.row {
    border: solid 1px #e0e0e0;
    padding: 10px;
    text-align: center;
}

.container > div:not(:first-child) .row img {
    display: none;
}

.container > div:not(:first-child) .row span {
    display: none;
}

#column1 .row_header {
    border: solid 1px #e0e0e0;
    padding: 4px;
    text-align: left;
}

.column_header {
    border: solid 1px #e0e0e0;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
}

.column_header p {
    margin: 0px;
}

#column1 {
    width: 200px;
}

/*.column_header:hover ~ div {*/
/*background: #fffdc4;*/
/*}*/

/* Name Modal */
.modal_user_profile {
    display: none;
    position: absolute;
}

.user_profile {
    opacity: 0;
    position: absolute;
    height: 0px;
    width: 400px;
    color: azure;
    transition: all 0.3s ease;
}

.user_profile_details {
    margin-left: 45px;
    z-index: 2000;
}

.user_profile_details p {
    display: none;
    width: 160px;
    height: 20px;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.user_profile img {
    display: none;
    transition: all 0.3s ease;
    z-index: 100;
}

.user_profile span {
    display: none;
    transition: all 0.3s ease;
}

.modal_user_profile:checked + label > div .user_profile {
    opacity: 0.9;
    position: absolute;
    border: solid 1px #e0e0e0;
    background: white;
    color: #545454;
    width: 400px;
    height: 130px;
    padding-top: 6px;
    padding-left: 3px;
    margin-top: -35px;
    margin-left: -4px;
    z-index: 2000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.modal_user_profile:checked + label > div .user_profile_details p {
    display: inline-block;
    transition: all 0.3s ease;
}

.modal_user_profile:checked + label > div .user_profile span {
    display: inline-block;
    transition: all 0.3s ease;
}

.modal_user_profile:checked + label > div .user_profile img {
    display: inline-block;
    transition: all 0.3s ease;
}

/* Responsive table */
@media (max-width: 1000px) {
    .container {
        flex-flow: column wrap;
        width: 100%;
    }

    #column1 {
        display: none;
    }

    .container > div:not(:first-child) .row img {
        display: inline-block;
        margin-bottom: -5px;
    }

    .container > div:not(:first-child) .row span {
        display: inline-block;
        padding-right: 30px;
        padding-left: 5px;
    }
}

/* SVG */
.icon-cross {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    stroke-width: 1;
    stroke: currentColor;
    fill: currentColor;
    margin-left: 340px;
    margin-top: 5px;
}

.column_drop_arrow {
    opacity: 0;
    color: #545454;
}

.icon-arrow-down1 {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: -5px;
    stroke: currentColor;
    fill: currentColor;
}

.icon-arrow-down2 {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    left: 0;
    top: 0;
    margin-top: -10px;
    margin-left: -5px;
    stroke: currentColor;
    fill: currentColor;
}

.column_header p {
    height: 0px;
}

.icon-sort_by_alpha
{
    opacity: 0;
    position: relative;
    width: 14px;
    height: 14px;
    padding: 8px;
    margin-left: 30px;
    stroke: currentColor;
    fill: currentColor;
    left: 50px;
    top: -22px;
    stroke-width: 0.2;
    transition: opacity 0.5s ease;
}

.icon-sort_by_alpha:hover{
    opacity: 1;
    transition: opacity 0.5s ease;
}


/* onClick Cursor */


#column1 .row_header div {
    cursor: -webkit-grab;
}

#column1 .row_header div img:hover,
#column1 .row_header div span:hover{
    cursor: pointer;
}

#column1 .row_header div:active {
    cursor:-webkit-grabbing;
}

#column2:hover,
#column3:hover,
#column4:hover,
#column5:hover,
#column6:hover,
#column7:hover {
    cursor: -webkit-grab;
}

#column2:active,
#column3:active,
#column4:active,
#column5:active,
#column6:active,
#column7:active {
    cursor: -webkit-grabbing;
}

/* Search Box */
#search_input {
    margin-left: 30px;
    font-weight: 200;
    font-size:14px;
    color: #545454;;
    height: 30px;
    width: 200px;
    border-color:#e0e0e0;
    border-width: 0px 0px 1px 0px;
    transition: border-color 1s ease;
}

#search_input:focus {
    border-color: #51d0ef;
    outline: none;
    transition: border-color 1s ease;
}

